/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background: #cff1d0;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #bda3c1;
  color: #7e4b86;
}

/*
 * Navbar
 */

 #navbarTogglerBtn {
     outline-color: #7e4b86;
 }

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

.bg-purple{
  background: #bda3c1;
  color: whitesmoke;
}
.bg-purple:hover{
  color: white;
  background: #987e9c;
  border-color: #987e9c;
}
.bg-purple .card-subtitle {
  color: #cff1d0;
}
.bg-purple:hover .card-subtitle {
  color: #45ff45;
}

.bg-lightGreen .card-subtitle {
  color: #987e9c;
}
th {
  cursor: pointer;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background: #bda3c1;
  color: whitesmoke;
  cursor: pointer;
}

header a {
  color: white;
}
header a:hover {
  color: #7e4b86;
}
a{
  color: #bda3c1;
}
a:hover {
  color: #7e4b86;
}
button#signOut{
  color: #90ee90;
  background-image: none;
  background-color: transparent;
  border-color: #90ee90;
}